language: python
python:
  - "2.7"
env:
  - DJANGO_VERSION=1.5
  - DJANGO_VERSION=1.6
install:
  - "pip install -q Django==$DJANGO_VERSION"
  - "pip install -r requirements-dev.txt"
  - /usr/share/elasticsearch/bin/plugin -install elasticsearch/elasticsearch-river-rabbitmq/1.6.0
services:
  - elasticsearch
  - postgresql
  - rabbitmq
before_script:
  - psql -c 'create database bulbs;' -U postgres
script: python runtests.py